extends layout

block content
    .container
      h1 Quiz Results
      p Total Score: #{totalScore}
      each result, index in results
        .card
          .card-body
            h5.card-title Question #{index + 1}
            p.card-text #{result.question_text}
            p.card-text 
              if result.correct
                span.text-success Correct Answer: #{result.correct_answer}
              else
                span.text-danger Your Answer: #{result.user_answer}
                br
                span.text-success Correct Answer: #{result.correct_answer}
      a(class="btn btn-primary", href='/dashboard') Back to Home
